<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
    <title>The Great Guesser</title>
</head>
<body>
<div style="text-align: center;">
    <div class="header">
        <img src="../img/header.png" class="image">
    </div>
    <div class="column menu left">
        <img src="../img/leftMenu.png" class="image">
    </div>
    <div class="column ball">
        <img src="../img/center.png"  class="image">
        <div class="content">
                <p><input type="text" id="urlProfile""></p>
                <button class="button button5" onclick="setUrl()"> Guess </button>
                <p id = username></p>
                <p id = userId></p>
                <p id = "numberOfPhotos"></p>
                <p id = "tags"></p>
        </div>
    </div>

    <div class="column menu right">
        <img src="../img/rightMenu.png" class="image">
    </div>
</div>
<div class="footer">
    <img src="../img/footer.png" class="image">
</div>
</body>
</html>